<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag current_user.get_profile_image(100, 100) %>
      <table class='table'>
        <tr>
          <th>name</th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= current_user.introduction %></td>
        </tr>
      </table>
      
      <a href="<%= edit_user_path(current_user) %>"
        style="display: flex; justify-content: center; align-items: center; 
          width: 280px; height: 30px; border: 1px solid #ccc;; 
          border-radius: 8px; text-decoration: none;">
        <svg class="bi" width="20" height="20" style="fill: gray;">
          <use xlink:href="#box-seam" />
        </svg>
          <i class="fa-solid fa-user-gear" style="font-size: 20px; color: gray; margin-auto"></i> 
      </a>

      <h2 class="mt-4">New book</h2>
      <%= form_with(model: @book, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Create Book", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to image_tag(user.get_profile_image(100, 100)), user_path(user) %></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>