<div class='container'>
  <div class='row'>
  <div style="display: flex; justify-content: center;">
    <div style="width: 500px; margin: 0 auto;">

      <h1 style="width: 100%;">Editing Book</h1>

      <% if @book.errors.any? %>
  <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</strong></h3>
  <% @book.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

      <%= form_with(model: @book, local: true, html: { multipart: true }) do |f| %>
        <div class="mb-3" style="text-align: left;">
          <%= f.label :title, "Title" %><br>
          <%= f.text_field :title, class: "form-control" %>
      </div>

      <div  class="mb-3" style="text-align: left;">
        <%= f.label :body, "Opinion" %><br>
        <%= f.text_area :body, rows: 3, class: "form-control" %>
      </div>

      <div class="mb-3" style="text-align: left;">
        <%= f.submit "Update Book ", class: "btn btn-success" %>
      </div>

      <div class="mb-3" style="text-align: left;">
        <%= link_to 'Show', book_path(@book) %>|
        <%= link_to 'Back', books_path %>
      </div>
    <% end %>
  </div>
</div>